<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <ul>
    <li>ID   : <%= user.id %></li>
    <li>名前 : <%= user.name %></li>
    <li>年齢 : <%= user.age %></li>
  </ul>

</body>
</html>